<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Virando Herói</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="css/estilo.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

        <style>
            .cards .card .image img{
                max-height: 180px;
            }
        </style>

    </head>
    <body class="antialiased">
        <div class="ui container">
            <h1 class="ui header dividing" style="margin-top: 30px;" >Projeto Virando Herói</h1>
            

            <div th:each="ong : ${ongs}" class="ui link cards centered">

				
	                <div th:each="vaga : ${ong.vagas}" class="card">
	                    <div class="image">
	                        <img th:src="@{${ong.urlImg}}">
	                    </div>
	                    <div class="content">
	                    <div class="header" th:text="${vaga.titulo}"></div>
	                    <div class="description" th:text="${vaga.descricao}"></div>
	                    </div>
	                    <div class="extra content">
	                        <span class="">
	                            <a class="ui primary " th:href="@{'/inscrever/'+${ong.id}(vagaId=${vaga.id})}">Inscrever-se</a>
	                        </span>
	                        <span class="right floated">Expira em [[${#dates.format(vaga.dataExpiracao, 'dd/mm/yyyy')}]]</span>
	                    </div>
	                </div>


            </div>

        </div>
    </body>
</html>